<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cat.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @cat.age %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @cat.breed %>
</p>

<p>
  <strong>Declawed:</strong>
  <%= @cat.declawed %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_cat_path(@cat) %> |
<% end %>
<%= link_to 'Back', cats_path %>
